.formulario-contato {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  justify-items: center;
  width: 70%;
}

.formulario-contato input {
  width: 60%;
  align-self: center;
}
