.logo {
  width: 230px;
}

nav {
  width: 50vw;
  align-self: center;
}

.navbar {
  margin: 0;
  width: 100vw;
  height: 7vw;
  position: fixed;
  top: 1%;
  left: 0;
  z-index: 1001;
  display: flex;
  flex-direction: row;
}

.navbar nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.navbar nav ul a {
  padding: 3px;
  border-radius: 5%;
  font-size: 15px;
}
