.logo {
  max-width: 17em;
  padding: 2%;
  margin-top: 3%;
  position: relative;
  left: -20%;
  top: 0%;
}

.navbar {
  margin: 0;
  width: 100vw;
  height: 10vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  /* background-color: rgb(23, 23, 55); */
}

.navbar-nav {
  width: 52vw;
  align-self: center;
  margin-right: 100px;
}

.navbar nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.nav-item {
  position: relative;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link {
  padding: 3px;
  border-radius: 5%;
  font-size: 15px;
}

.nav-item .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  margin-bottom: 50px;
  background-color: grey;
}

.nav-item:hover .dropdown {
  border-radius: 0.5em;
  display: block;
  width: 300%;
  margin-top: 0.1em;
}

.nav-item:hover {
  background-color: rgb(106, 106, 101);
}

.nav-item .dropdown li {
  margin-bottom: 7%; /* Adds space between all dropdown items */
}

.nav-item .dropdown li:last-child {
  margin-bottom: 0; /* Ensures no extra space below the last item */
}

.entre-em-contato-nav {
  color: black;
  position: absolute;
  right: 2%;
  top: 3%;
}

.entre-em-contato-nav p {
  font-family: "Franklin Gothic Medium";
}

.numero-contato-nav {
  color: rgb(209, 154, 87);
}
