@import "tailwindcss";

body {
  margin-top: 9%;
  background-color: white;
  font-family: sans-serif;
  box-sizing: border-box;
}

.container-geral {
  width: 80vw;
  height: 100%;
  max-width: 1200px;
  text-align: center;
  justify-content: center;
  justify-self: center;
  background-color: white;
  padding: 40px 20px;
  margin: 0 auto;
}
