@import "tailwindcss";

body {
  background-color: white;
  font-family: sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container-geral {
  width: 80vw;
  height: 100%;
  max-width: 1200px;
  text-align: center;
  justify-content: center;
  justify-self: center;
  background-color: white;
  padding: 40px 20px;
  margin: 0 auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}
